<div class="container">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-md-12">
            <ul>
                <li><h1>Trabajo "a"</h1>- <h3>Años</h3></li>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea dicta voluptas reiciendis illo sunt nemo autem eligendi consequatur tenetur molestias vero a laudantium voluptatibus numquam, fugit, accusamus nisi, deleniti officia.</p>
            </ul>
            <ul>
                <li><h1>Trabajo "b"</h1>- <h3>Años</h3></li>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea dicta voluptas reiciendis illo sunt nemo autem eligendi consequatur tenetur molestias vero a laudantium voluptatibus numquam, fugit, accusamus nisi, deleniti officia.</p>
            </ul>
            <ul>
                <li><h1>Trabajo "c"</h1>- <h3>Años</h3></li>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea dicta voluptas reiciendis illo sunt nemo autem eligendi consequatur tenetur molestias vero a laudantium voluptatibus numquam, fugit, accusamus nisi, deleniti officia.</p>
            </ul>
        </div>
    </div>
</div>

