<div class="container">
    <h1>Skills</h1>
    <div class="row">
        <div class="text-center col-md-6">
            <circle-progress
             [percent]="85"
             [radius]="90"
             [title]="'Excel'"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'#78C000'"
             [innerStrokeColor]="'#C7E596'"
             [animation]="true"
            [animationDuration]="300"
>       </circle-progress>
        </div>
        <div class="col-md-6">
            <circle-progress
            [percent]="85"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
           [animationDuration]="300"
>       </circle-progress>
        </div>
    
    </div>
</div>