<div class="container">
    <div class="row">
        <div class="text-center col-md-2 col-sm-2 col-xs-12">
            <img src="../../assets/img/cv.jpg">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorem nesciunt dolor at sequi amet? Dignissimos et veniam error accusamus deserunt pariatur cumque vel aut magnam perferendis itaque, officiis nulla!</p>
            </span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <p style="text-align: center; padding-top: 10px;">Medina Juan Matias</p>
            <p style="text-align: center;">Full Stack Developer Jr.</p>
        </div>
    </div>
</div>
